.quizzCard {
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 100%;
  max-width: 600px;
  margin: 16px auto;
  background-color: #f9f9f9;
}

.imageAndTitle {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.quizzImage {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 16px;
  margin-right: 16px;
}

.titleAndButton {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.3rem;
  color: #4b5563;
  font-family: cursive;
}

.title::first-letter {
  text-transform: capitalize;
}

.playButton {
  margin-top: 12px;
  font-size: 1rem !important;
}

.labelsAndActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.labels {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.levelEasy {
  background-color: #4caf50;
}

.levelMedium {
  background-color: #ff9800;
}

.levelHard {
  background-color: #f44336;
}

.actions {
  display: flex;
  align-items: center;
}

.creator {
  font-size: 1rem;
  color: #0070f3;
  margin-right: 8px;
}

.creatorLink {
  text-decoration: none;
  color: inherit;
}

.emojiContainer {
  display: flex;
  gap: 8px;
}

.emoji {
  font-size: 1.5rem;
  cursor: pointer;
}

.emojiStar {
  color: #f5a623;
}

.emojiHeart {
  color: #ff4400;
}

.emojiStar:hover {
  color: #bc8937;
}

.emojiHeart:hover {
  color: #b73100;
}
