.searchBar {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}

.searchInput {
  padding: 10px !important;
  font-size: 16px !important;
  border-radius: 4px !important;
  border: 3px solid #6366f1 !important;
  flex: 1 1 60%;
}

.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.2s;
  padding: 10px 20px;
  background-color: #a424cc;
  color: white;
  border: none;
  border-radius: 4px;
  flex: 1 1 10%;
}

.searchButton:hover {
  background-color: #9624ac;
  transform: scale(1.05);
}

.searchButton svg {
  margin-right: 8px;
  font-size: 20px;
}

@media (max-width: 800px) {
  .searchBar {
    gap: 5px;
    flex-wrap: wrap;
  }

  .searchInput {
    flex: 1 1 50%;
  }

  .dropdown {
    flex: 1 1 20%;
  }

  .searchButton {
    flex: 1 1 10%;
  }
}

@media (max-width: 625px) {
  .searchBar {
    gap: 5px;
    flex-wrap: wrap;
  }

  .searchInput {
    flex: 1 1 100%;
  }

  .dropdown {
    flex: 1 1 40%;
  }

  .searchButton {
    flex: 1 1 100%;
  }
}
